.column {
  width: 300px;
  min-height: 80px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #000;
}

.column--title {
  font-size: x-large;
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.icon-button {
  cursor: pointer;
  min-width: 30px;
  filter: drop-shadow(1px 2px 10px rgba(136, 136, 136, 0));
  transition: filter 0.2s ease-in-out;
}

.icon-button:hover {
  filter: drop-shadow(0px 0px 3px rgba(136, 136, 136, 0.3));
}
