.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.row .label {
  font-weight: bold;
}

.row .value {
  text-align: end;
}
